.detail
  .detail__user
    user
  .detail__date
    2019/9/1(Wed)17:50:40
  .detail__contents
    こんにちは

-# .detail
-#   .detail__user
-#     testユーザー2
-#   .detail__date
-#     2019/9/1(Wed)17:50:40
-#   .detail__contents
-#     こんにちは2

-# .detail
-#   .detail__user
-#     testユーザー3
-#   .detail__date
-#     2019/9/1(Wed)17:50:40
-#   .detail__contents
-#     こんにちは3

-# .detail
-#   .detail__user
-#     testユーザー4
-#   .detail__date
-#     2019/9/1(Wed)17:50:40
-#   .detail__contents
-#     こんにちは4

-# .detail
-#   .detail__user
-#     testユーザー5
-#   .detail__date
-#     2019/9/1(Wed)17:50:40
-#   .detail__contents
-#     こんにちは5

-# .detail
-#   .detail__user
-#     testユーザー6
-#   .detail__date
-#     2019/9/1(Wed)17:50:40
-#   .detail__contents
-#     こんにちは6

-# .detail
-#   .detail__user
-#     testユーザー7
-#   .detail__date
-#     2019/9/1(Wed)17:50:40
-#   .detail__contents
-#     こんにちは7
